<div class="row">
	<div class="form-group col-xs-9 <%= @item.errors[:title].present? ? 'has-error' : '' %>">
		<%= f.label :category_id, 'Category', class: 'control-label' %>
		<%= f.select :category_id, Category.all.collect {|c| [c.name, c.id]},{include_blank: true},{class: "form-control", placeholder: "Category"} %>					
	</div>
	<div class="col-xs-3">		
		<%= link_to_remove_fields "Remove", f %>
		<!-- <a class="btn btn-danger add-btn" id="add-category" onclick="remove_fields(this)"><span class="fa fa-minus"></span></a> -->
	</div>
</div>